.cnt {
  padding-top: 10px;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  margin-bottom: 35dvh;
}
