.member-footer {
  background-color: #303236;
  text-decoration: none;
  color: cornsilk;
  width: 100%;
  max-height: 15%;
}
.member-footer-copyright {
  width: 100%;
  display: flex;
  color: cornsilk;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.made-by {
  margin-right: 2%;
}
.member-footer-copyright > a {
  all: unset;
}
.member-footer-link-content {
  margin-right: 1.8rem;
}
